# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.wheel

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store  # macOS
Thumbs.db  # Windows

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Pylint
pylint_report.txt

# Others
*.~undo-tree